/* banner */

.banner {
  width: 100%;
  height: 460px;
}

.banner .carousel {
  width: 100%;
  height: 100%;
  position: relative;
}

.banner .carousel>ul>li {
  width: 100%;
  height: 460px;
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  background: url(../images/bannerdz01.png) no-repeat center top;
}

.banner .carousel ul li.cur {
  display: block;
}

.banner .carousel ul li .inner .cont_in {
  padding: 65px 0 0 539px;
  width: 461px;
  font-size: 12px;
  color: #fff;
}

.banner .carousel ul li .inner .cont_in .title {
  height: 66px;
  overflow: hidden;
}

.banner .carousel ul li .inner .cont_in .title .pic {
  float: left;
  margin-left: 3px;
  margin-right: 14px;
  width: 66px;
}

.banner .carousel ul li .inner .cont_in .title .txt {
  float: left;
  width: 263px;
}

.banner .carousel ul li .inner .cont_in .title .txt h3 {
  line-height: 44px;
  font-weight: bold;
  font-size: 38px;
}

.banner .carousel ul li .inner .cont_in .title .txt p {
  line-height: 22px;
}

.banner .carousel ul li .inner .cont_in .title .game {
  float: left;
  width: 115px;
  padding-top: 9px;
}

.banner .carousel ul li .inner .cont_in .title .game a {
  display: block;
  width: 99px;
  height: 37px;
  padding-left: 16px;
  line-height: 37px;
  color: #191D3A;
  background: url(../images/online.png) no-repeat;
}

.banner .carousel ul li .inner .cont_in .title .game a:hover {
  background-position: -120px 0;
}

.banner .carousel ul li .inner .cont_in .text {
  margin-top: 9px;
  line-height: 30px;
  width: 383px;
}

.banner .carousel ul li .inner .cont_in h4 {
  height: 36px;
  padding-left: 30px;
  margin-bottom: 7px;
  font-size: 18px;
  font-weight: bold;
  line-height: 36px;
  background: url(../images/download.png) no-repeat 6px -29px;
  color: #FBC660;
}

.banner .carousel ul li .inner .cont_in .lis {
  width: 447px;
  height: 106px;
}

.banner .carousel ul li .inner .cont_in .lis ul li {
  float: left;
  width: 83px;
  height: 106px;
  margin-right: 1px;
}

.banner .carousel ul li .inner .cont_in .lis ul li.first a {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.banner .carousel ul li .inner .cont_in .lis ul li a {
  color: #fff;
  display: block;
  width: 100%;
  padding-top: 76px;
  background: rgba(255, 255, 255, 0.4) url(../images/pad.png) no-repeat -218px 18px;
  height: 30px;
  text-align: center;
}

.banner .carousel ul li .inner .cont_in .lis ul li a:hover {
  background-position: 27px 18px;
  background-color: #fff;
  color: #444866;
}

.banner .carousel ul li .inner .cont_in .lis ul li.erweima {
  width: 99px;
  height: 93px;
  padding: 13px 0 0 12px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: rgba(255, 255, 255, 0.8);
}

.banner .carousel .circles {
  position: absolute;
  width: 39px;
  height: 12px;
  left: 50%;
  margin-left: -19.5px;
  bottom: 20px;
  overflow: hidden;
}

.banner .carousel .circles ol {
  width: 54px;
  height: 12px;
}

.banner .carousel .circles ol li {
  float: left;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.6);
  margin-right: 15px;
}

.banner .carousel .circles ol li.active {
  background-color: #fff;
}

/* list 开始 */

.list {
  width: 1000px;
  height: 230px;
  margin: 50px auto 53px;
}

.list .pics {
  height: 192px;
  overflow: hidden;
}

.list .pics ul {
  width: 1044px;
}

.list .pics ul li {
  float: left;
  width: 218px;
  height: 192px;
  margin-right: 43px;
}

.list .pics ul li a {
  display: block;
  width: 100%;
  height: 100%;
}

.list .pics ul li a img {
  /* img 3px 问题 */
  display: block;
  width: 218px;
  height: 128px;
}

.list .pics ul li a .int {
  height: 64px;
}

.list .pics ul li a .int h4 {
  color: #444866;
  font-weight: bold;
  text-align: center;
  line-height: 32px;
  font-size: 12px;
}

.list .pics ul li a .int p {
  font-size: 11px;
  line-height: 27px;
  text-align: center;
  color: #38B774;
}

.list .pics ul li a .int p span {
  padding-right: 11px;
  background: url(../images/arrow.png) no-repeat right center;
}

.list .pics ul li a:hover .int {
  background: #38B774;
}

.list .pics ul li a:hover .int h4,
.list .pics ul li a:hover .int p {
  color: #fff;
}

.list .pics ul li a:hover .int p span {
  background-image: url(../images/arrow_hover.png);
}

.list .line {
  height: 37px;
  border-bottom: 1px solid #DBE1E7;
  position: relative;
}

.list .line ol {
  width: 50px;
  height: 11px;
  padding-left: 17px;
  background-color: #fff;
  position: absolute;
  left: 50%;
  margin-left: -33.5px;
  bottom: -5px;
}

.list .line ol li {
  float: left;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #B5C0CB;
  margin-right: 14px;
}

.list .line ol li.active {
  background-color: #2FBC71;
}

/* content开始 */

.content {
  width: 100%;
  height: 310px;
  padding-bottom: 57px;
  background: url(../images/indexmainbg.jpg) no-repeat center bottom;
}

.content .inner .news {
  float: left;
  width: 500px;
  height: 311px;
  background: url(../images/bynewsbg.jpg) no-repeat 0 -10px;
}

.content .inner .news .tit {
  height: 71px;
  padding: 40px 0 0 217px;
}

.content .inner .news .tit a {
  display: block;
  width: 64px;
  height: 26px;
  border: 1px solid #33B972;
  border-radius: 5px;
  text-align: center;
  line-height: 26px;
  font-size: 12px;
  color: #33B972;
}

.content .inner .news .tit a:hover {
  background-color: #33B972;
  color: #fff;
}

.content .inner .news ul {
  padding: 0 20px;
}

.content .inner .news ul li {
  height: 49px;
  border-bottom: 1px solid #DBE1E7;
  line-height: 49px;
  font-size: 12px;
}

.content .inner .news ul li a {
  float: left;
  width: 410px;
  color: #444866;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content .inner .news ul li span {
  float: right;
  color: #AFC4DC;
}

.content .inner .job {
  float: left;
  width: 500px;
  height: 310px;
  background: url(../images/byhrbg3.jpg) no-repeat;
}

.content .inner .job .tit {
  height: 70px;
  padding: 40px 0 0 80px;
}

.content .inner .job .tit .text {
  float: left;
  width: 137px;
  color: #fff;
}

.content .inner .job .tit .text h4 {
  font-size: 28px;
  line-height: 38px;
  font-weight: bold;
}

.content .inner .job .tit .text p {
  font-size: 12px;
  line-height: 16px;
}

.content .inner .job .tit .more{
  float: left;
  width: 66px;
  height: 28px;
}

.content .inner .job .tit .more a{
  display: block;
  width: 64px;
  height: 26px;
  border: 1px solid #fff;
  border-radius: 5px;
  text-align: center;
  line-height: 26px;
  font-size: 12px;
  color: #fff;
  background: #33B972;
}

.content .inner .job .tit .more a:hover{
  color: #33B972;
  background: #fff;
}

.content .inner .job .work{
  line-height: 22px;
  color: #fff;
  padding-left: 20px;
  font-weight: bold;
}
.content .inner .job ul{
  padding-left: 20px;
  width: 305px;
}

.content .inner .job ul li{
  line-height: 37px;
  border-bottom: 1px solid #6FDEA3;
}

.content .inner .job ul li a{
  font-size: 12px;
  color: #fff;
}